*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;;
    background-color: #f7f4f4;
}


#container{
    margin: auto;
    max-width: 90vw;
    width: 640px;
    
}