.questionText{
    font-size: 20px;
    font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    display: block;
    margin-bottom: 20px;
}

.radio{
    
    

    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;


  border-radius: 50%;
  width: 20px;
  height: 20px;

  outline: 2px solid rgb(108, 108, 108);

  border: 5px solid rgb(255, 255, 255);
  transition: 0.2s all linear;
  

  position: relative;

  cursor: pointer;

  margin-bottom: 12px;

  margin-right: 12px;
  
}


input:checked {
    outline: 2px solid brown;

    background-color: brown;

    
}

.text{
    font-size: 16px;
}

#true, #false{
    display: flex;
}

.inputText{
    border-style: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    font-size: 15px;
    width: 100%;
    padding-bottom: 5px;
}

.inputText:focus{
    outline: none;
}

#buttons{
    display: flex;
    justify-content: space-between;
}



input[type="submit"]{
    font-size: 15px;
    background-color: brown;
    color: white;
    border-style: none;

    padding: 5px 10px 5px 10px;
    border-radius: 5px;

    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(162, 67, 67);
}

#clearForm{
    background-color: white;
    cursor: pointer;
    color: brown;
    font-size: 15px;
    border-style: none;
    background-color: inherit;
    font-weight: bold;
}

#buttons{
    margin-bottom: 20px;
}

#footer{
    display: flex;
    flex-direction: column;
}

#footer div{
    padding-bottom: 15px;
    color: rgb(173, 173, 173);
}

.centerAlign{
    text-align: center;
}

.myFont{
    font-size: 12px;
}

.google{
    font-size: 20px;
}
