.content{
    max-width: 90vw;
    width: 700px;
    min-height: 70vh;
    margin: auto;
    margin-bottom: 30px;

}


.content p{
    margin: 0;
}


.taskSheet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 15px;
    border-radius: 10px;

    padding: 5px;

    background-color: #eec8fc;
    cursor: pointer;
}



@media screen and (max-width: 646px) {
    .content {
        margin-top: 0;
    }

    
}


