.flex{
    display: flex;
}


.container{

    max-width: 80vw;
    margin: auto;
    
}


.item-center {
    align-items: center;
} 


.justify-center {
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.semiBold{
    font-weight: bolder;
}

.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}